.chat-logo-contain {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #6499E9;
}

.chat-icons {
   font-size: 30px !important;
}


.chat-message-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.55);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 557;
    display: flex;
    justify-content: center;
    align-items: center;

}



.chat-message-contain { 
    height: 700px;
    width: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 14px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 6px 14px -2px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-wrap: wrap;
    padding: 1.2em;
    gap: 0.5em;
}


.chat-person-list {
    height: 100%;
    width: 300px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding:1em 1.2em;
    gap: 1em;
    border-radius: 10px;
}

.chat-block-contain {
    height: 100%;
    width: 650px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    /* gap: 1em;
    padding: 1em 1.2em;
    border-radius: 10px; */
    overflow: scroll;
}
.chat-block-contain::-webkit-scrollbar {
  display: none;
}


.user-chat-contain {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 95% !important;
    overflow: scroll;
    

}

.user-chat-contain::-webkit-scrollbar {
  display: none;
}


.user-contain {
    height: 90px;
    width: 100%;
    border: 1px solid #000;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    cursor: pointer;

}

.chat-user-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;    
}

.user-chat-profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}



.user-reply {
    height: auto;
    padding: 1em;
    align-self: start;
    width: auto !important;
    max-width: 50% !important;
    background:#6499E9;
    -moz-border-radius: 39px 39px 40px 0px;
    border-radius: 11px 11px 11px 0px;
    -webkit-border-radius: 11px 11px 11px 0px;
}

.client-reply {
    height: auto;
    width: auto !important;
    max-width: 50% !important;
    padding: 1em;
    align-self: end;
    background:#6499E9;
    border-radius: 11px 11px 0px 13px;
    -webkit-border-radius: 11px 11px 0px 13px;
    -moz-border-radius: 11px 11px 0px 13px;
} 



.user-status {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    position: relative;
    top: -21px;
    left: 35px;
 
}

.user-chat-information {
   height: 60px;
   width: 150px;
   display: flex;
   justify-content: flex-start;
   align-items: center;


}

.user-chat-block-information {
    height: 10%;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 0.5em;
}

.user-chat-block-contain {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 80%;
    border: 1px solid #000;
    padding: 0.5em;
    color: #fff;
    overflow: scroll;
}

.user-chat-block-contain::-webkit-scrollbar {
    display: none;
}

.chat-form-submit {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    border: 1px solid #000;
}


.user-selected-name, .user-selected-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    /* border: 1px solid #000; */
}


.profile-chat-modify {
    height: 40px !important;
    width: 40px !important;
}

.user-chat-modify {
   font-size: 14px !important;
}

.user-history-chat {
    height: 80px;
    border: 1px solid #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em 1em;
        cursor: pointer;
}

.user-history-change-flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.2em;

}


.admin-send-chat-input {
   height: 45px;
   width: 90%;
   padding: 1em;
   font-size: 18px;
   border-radius: 10px;
   outline: none;
   border: none;
   background: #f3eded;
}

.admin-send-chat-submit {
   height: 45px;
   width: 45px;
   border-radius: 10px;
   cursor: pointer;
   border: none;
   outline: none;

}

.create-client-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



 /* client chat */


 .client-chat-flexing-contain {
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .client-chat-contain {
    
    display: contents;
    height: 700px;
    width: 650px;
    border: 1px solid #000;
 }

 .client-block-chat {
    height: 90% !important;
 }

 .client-chat-input {
    padding: 0 1em !important;
    font-size: 15px !important;
    
 }





 @media only screen and (max-width: 800px) { 

.chat-person-list {
    height: 25%;
    width: 100%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding:1em 1.2em;
    gap:0;
    border-radius: 10px;
}


.chat-block-contain {
    height: 70%;
    width: 100% !important;
    border: 1px solid #000;
    border-radius: 10px;
}

.chat-message-contain {
    height: 98%;
    width: 90%;
}

.user-contain {
    border: none;
    flex-direction: column;
    font-size: 12px;
}
.user-chat-information {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-chat-name {
    text-align: center;
}

.user-chat-contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    height: 95% !important;
    overflow: scroll;
}



    .chat-logo-contain { 
    bottom: 20px;
    right: 20px;
    }

    
.profile-chat-modify {
    height: 32px !important;
    width: 32px !important;
}

.user-chat-modify {
   font-size: 14px !important;
}

}



 @media only screen and (max-width: 390px) { 
.chat-person-list {
    height: 31%;
    width: 100%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding:1em 1.2em;
    gap:0;
    border-radius: 10px;
}


.chat-block-contain {
    height: 68%;
    width: 100% !important;
    border: 1px solid #000;
    border-radius: 10px;
}
 }