/* Backdrop css */

.backdrop-container  {
    height: 100vh;
    width: 100vw;
    background-color: rgb(220 220 220 / 50%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Modal css  */


.modal-hook-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width:100svw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
  
 
}
.modal-hook-contain {
    border-radius: 5px;
    height: auto;
    width: 500px;
    padding: 1em;
    box-shadow: 6px 6px 14px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 14px -2px rgba(0,0,0,0.75);
   background-color: #fff;
   padding: 2em;
}



@media (max-width: 800px) { 
  .modal-hook-contain {
    height: auto;
    width: 400px;
    padding: 1em;
    box-shadow: 6px 6px 14px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 14px -2px rgba(0,0,0,0.75);
   background-color: #fff;
  }
}


/* snackbar css  */

.snackbar-container {
  height: 60px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: red;
}


.snackbar-message {
  background: #e7e7e7;
  color: #373737;
  height: 60px;
  width: 280px;
  font-size: 18px;
  padding: 10px 15px;
  box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
} 


.snackbar-icons {
  margin-right: 0.5em;
}

.success {
   color: green;
}
.failed {
  color:red;
}


 /* alert css */


.alert-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.alert-contain {
  height: auto;
  max-width: 500px;
  padding: 2em;
  background-color: #e7e7e7;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  flex-direction: column;
}

.alert-title {
   font-size: clamp(1.25rem, 0.8594rem + 1.25vw, 1.5625rem);
   text-align: center;
   max-width: 300px;
}

.alert-button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: #6499E9;
  font-size: 15px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.alert-icons {
  font-size: 50px !important;
}


@media (max-width: 800px) { 
  .alert-contain {
  height: auto;
  width: auto;
  max-width: 400px;
  padding: 1em;
}
}








/* Back drop css */
.loader-spinner {
  
  /* margin-right: 5em; */
  width: 18px;
  position: absolute;
  /* Subpixels get cut off */
  overflow: visible;
  transform: rotate(-90deg);
  transform-origin: center;

  --active:#868686;
  --track: #fdfdfd;

  --duration: 8s;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.active {
  stroke: var(--active);
  stroke-linecap: round;
  stroke-dashoffset: 360;
  animation: active-animation var(--duration) ease-in-out infinite;
}

@keyframes active-animation {
  0% {
    stroke-dasharray: 0 0 0 360 0 360;
  }
  12.5% {
    stroke-dasharray: 0 0 270 90 270 90;
  }
  25% {
    stroke-dasharray: 0 270 0 360 0 360;
  }
  37.5% {
    stroke-dasharray: 0 270 270 90 270 90;
  }
  50% {
    stroke-dasharray: 0 540 0 360 0 360;
  }
  50.001% {
    stroke-dasharray: 0 180 0 360 0 360;
  }
  62.5% {
    stroke-dasharray: 0 180 270 90 270 90;
  }
  75% {
    stroke-dasharray: 0 450 0 360 0 360;
  }
  87.5% {
    stroke-dasharray: 0 450 270 90 270 90;
  }
  87.501% {
    stroke-dasharray: 0 90 270 90 270 90;
  }
  100% {
    stroke-dasharray: 0 360 1 360 0 360;
  }
}

.track {
  stroke: var(--track);
  stroke-linecap: round;
  stroke-dashoffset: 360;
  animation: track-animation var(--duration) ease-in-out infinite;
}

@keyframes track-animation {
  0% {
    stroke-dasharray: 0 20 320 40 320 40;
  }
  12.5% {
    stroke-dasharray: 0 290 50 310 50 310;
  }
  25% {
    stroke-dasharray: 0 290 320 40 320 40;
  }
  37.5% {
    stroke-dasharray: 0 560 50 310 50 310;
  }
  37.501% {
    stroke-dasharray: 0 200 50 310 50 310;
  }
  50% {
    stroke-dasharray: 0 200 320 40 320 40;
  }
  62.5% {
    stroke-dasharray: 0 470 50 310 50 310;
  }
  62.501% {
    stroke-dasharray: 0 110 50 310 50 310;
  }
  75% {
    stroke-dasharray: 0 110 320 40 320 40;
  }
  87.5% {
    stroke-dasharray: 0 380 50 310 50 310;
  }
  100% {
    stroke-dasharray: 0 380 320 40 320 40;
  }
}
