.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.input-text {
  border-radius: 20px;
   border: none;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
  width: 100%;
}


.input-contain {
     width: 100%;
     border: 1px solid #c0c0c0;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
    
}

.MuiSvgIcon-root  {
  font-size: 20px;
}
.input-icons {
  margin-right: 0.5em;
  
} 


.form-btn {
  font-size: 17px;
  position: relative;
  padding: 10px 15px;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background:#6499E9;
  color: white;
  cursor: pointer;  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn:active {
  box-shadow: none;
} 
  


.form-errors {
  color: #750000;
  font-size: 14px;
  padding-left: 0.5em;
  height: 20px;
}